
<h1>Registrar Usuario</h1>
@if (ViewBag.message != null)
{
    <hr />
    <div class="alert alert-danger" role="alert">
        @ViewBag.message
    </div>
    <hr />
}
<form action="RegistrarUsuario" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cedula">Cedula o NIT</label>
            <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ingrese la cedula o NIT" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre" required>
        </div>
        <div class="form-group col-md-6">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese el Apellido" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="celular">Celular: </label>
            <input type="text" class="form-control" id="celular" name="celular" placeholder="Ingrese el numero del Celular" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="correo">Correo: </label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Email" required>
        </div>
        <div class="form-group col-md-6">
            <label for="contraseña">Comtraseña: </label>
            <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Ingrese su contraseña" required>
        </div>
        <div class="form-group col-md-4">
            <label for="TipoUsuario">Tipo de Usuario:</label>
            <select id="TipoUsuario" name="TipoUsuario" class="form-control">
                <option selected>Seleccione Usuario</option>
                <option>Institucion/Fundacion</option>
                <option>Cliente</option>
                <option>Taller</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Registrarse</button>
</form>
